IoT/Nodered.json
[
    {
        "id": "17110723dd1fb495",
        "type": "tab",
        "label": "Smart Terrarium FYP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08485066652e1d94",
        "type": "firebase-in",
        "z": "17110723dd1fb495",
        "name": "Auto",
        "constraint": {},
        "database": "f40ed5cfcbd56c92",
        "listenerType": "value",
        "outputType": "auto",
        "path": "Auto",
        "useConstraint": false,
        "x": 315,
        "y": 120,
        "wires": [
            [
                "68ea6c8afa82e56b"
            ]
        ],
        "l": false
    },
    {
        "id": "68ea6c8afa82e56b",
        "type": "ui_switch",
        "z": "17110723dd1fb495",
        "name": "",
        "label": "Auto Switch",
        "tooltip": "",
        "group": "b69bf4882c15eea6",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 120,
        "wires": [
            [
                "57c9822e3a82bba3",
                "6ba7a6fcbe537699"
            ]
        ]
    },
    {
        "id": "57c9822e3a82bba3",
        "type": "debug",
        "z": "17110723dd1fb495",
        "name": "Auto Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 60,
        "wires": []
    },
    {
        "id": "97cdeb96ec941a80",
        "type": "firebase-in",
        "z": "17110723dd1fb495",
        "name": "",
        "constraint": {},
        "database": "f40ed5cfcbd56c92",
        "listenerType": "value",
        "outputType": "auto",
        "path": "Manual/Fan",
        "useConstraint": false,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "62f2e4fee1717a18",
                "735aacc9d54457ac"
            ]
        ]
    },
    {
        "id": "62f2e4fee1717a18",
        "type": "ui_switch",
        "z": "17110723dd1fb495",
        "name": "",
        "label": "Fan Switch",
        "tooltip": "",
        "group": "b69bf4882c15eea6",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "134e9b958a04299e",
                "05010c3cf173fee1"
            ]
        ]
    },
    {
        "id": "2d9908eff57fc8a2",
        "type": "ui_switch",
        "z": "17110723dd1fb495",
        "name": "",
        "label": "LED Switch",
        "tooltip": "",
        "group": "b69bf4882c15eea6",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 360,
        "wires": [
            [
                "5b5024bf1c5021d4",
                "5389efd1510d70d5"
            ]
        ]
    },
    {
        "id": "8cd912ab9e3ccb93",
        "type": "ui_switch",
        "z": "17110723dd1fb495",
        "name": "",
        "label": "Mist Switch",
        "tooltip": "",
        "group": "b69bf4882c15eea6",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "2ab1d5c6ae4d4b30",
                "09ec626a253302cd"
            ]
        ]
    },
    {
        "id": "30df3244ac3e4200",
        "type": "ui_switch",
        "z": "17110723dd1fb495",
        "name": "",
        "label": "Pump Switch",
        "tooltip": "",
        "group": "b69bf4882c15eea6",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 560,
        "wires": [
            [
                "a6e690b437652ac5",
                "c55ce5d5499babd4"
            ]
        ]
    },
    {
        "id": "b998a8c7d43304bb",
        "type": "firebase-in",
        "z": "17110723dd1fb495",
        "name": "",
        "constraint": {},
        "database": "f40ed5cfcbd56c92",
        "listenerType": "value",
        "outputType": "auto",
        "path": "Manual/LED",
        "useConstraint": false,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "2d9908eff57fc8a2"
            ]
        ]
    },
    {
        "id": "83da5a787d2a0f78",
        "type": "firebase-in",
        "z": "17110723dd1fb495",
        "name": "",
        "constraint": {},
        "database": "f40ed5cfcbd56c92",
        "listenerType": "value",
        "outputType": "auto",
        "path": "Manual/Mist",
        "useConstraint": false,
        "x": 350,
        "y": 460,
        "wires": [
            [
                "8cd912ab9e3ccb93"
            ]
        ]
    },
    {
        "id": "25d120d2b83a7d33",
        "type": "firebase-in",
        "z": "17110723dd1fb495",
        "name": "",
        "constraint": {},
        "database": "f40ed5cfcbd56c92",
        "listenerType": "value",
        "outputType": "auto",
        "path": "Manual/Pump",
        "useConstraint": false,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "30df3244ac3e4200"
            ]
        ]
    },
    {
        "id": "134e9b958a04299e",
        "type": "debug",
        "z": "17110723dd1fb495",
        "name": "FAn Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "5b5024bf1c5021d4",
        "type": "debug",
        "z": "17110723dd1fb495",
        "name": "LED debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "2ab1d5c6ae4d4b30",
        "type": "debug",
        "z": "17110723dd1fb495",
        "name": "Mist Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "a6e690b437652ac5",
        "type": "debug",
        "z": "17110723dd1fb495",
        "name": "Pump Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 520,
        "wires": []
    },
    {
        "id": "197c0f572ec10169",
        "type": "mqtt in",
        "z": "17110723dd1fb495",
        "name": "",
        "topic": "sensor/readings",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9b62d743.81fb98",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 760,
        "wires": [
            [
                "ce4eeac3767abe81"
            ]
        ]
    },
    {
        "id": "6ba7a6fcbe537699",
        "type": "mqtt out",
        "z": "17110723dd1fb495",
        "name": "",
        "topic": "control/auto_mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b62d743.81fb98",
        "x": 930,
        "y": 120,
        "wires": []
    },
    {
        "id": "ce4eeac3767abe81",
        "type": "firebase-out",
        "z": "17110723dd1fb495",
        "name": "",
        "database": "287aeec0a03338ab",
        "path": "sensorReadings",
        "pathType": "str",
        "priority": 1,
        "queryType": "set",
        "x": 760,
        "y": 760,
        "wires": []
    },
    {
        "id": "05010c3cf173fee1",
        "type": "mqtt out",
        "z": "17110723dd1fb495",
        "name": "",
        "topic": "control/fan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b62d743.81fb98",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "5389efd1510d70d5",
        "type": "mqtt out",
        "z": "17110723dd1fb495",
        "name": "",
        "topic": "control/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b62d743.81fb98",
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "c55ce5d5499babd4",
        "type": "mqtt out",
        "z": "17110723dd1fb495",
        "name": "",
        "topic": "control/pump",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b62d743.81fb98",
        "x": 910,
        "y": 560,
        "wires": []
    },
    {
        "id": "09ec626a253302cd",
        "type": "mqtt out",
        "z": "17110723dd1fb495",
        "name": "",
        "topic": "control/humidifier",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b62d743.81fb98",
        "x": 930,
        "y": 460,
        "wires": []
    },
    {
        "id": "735aacc9d54457ac",
        "type": "debug",
        "z": "17110723dd1fb495",
        "name": "Auto Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "f40ed5cfcbd56c92",
        "type": "database-config",
        "name": "Database",
        "authType": "anonymous",
        "claims": {},
        "createUser": false,
        "useClaims": false
    },
    {
        "id": "b69bf4882c15eea6",
        "type": "ui_group",
        "name": "Test Auto",
        "tab": "054e0ebfc297248b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b62d743.81fb98",
        "type": "mqtt-broker",
        "name": "Terrarium",
        "broker": "192.168.101.7",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "287aeec0a03338ab",
        "type": "database-config",
        "name": "My Database",
        "authType": "anonymous",
        "claims": {},
        "createUser": false,
        "useClaims": false
    },
    {
        "id": "054e0ebfc297248b",
        "type": "ui_tab",
        "name": "Manual",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]